body{
    background-color:bisque;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.buttons{
    padding: 30px 60px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    background-color: rgb(216, 216, 184);
    cursor: pointer;
    
}

.buttons:hover{
    background-color: rgb(172, 172, 146);
}